.tag {
  padding: var(--padding-xs) var(--padding-s);
  border-radius: 0.5rem;
  font-size: var(--font-size-s);
  font-weight: 400;
  text-align: center;
  font-family: var(--fonte-texto);
  color: var(--preto);
}

.doisD {
  background-color: var(--cinza-claro);
}

.tresD {
  background-color: var(--cinza-medio);
}

.livre {
  background-color: var(--verde);
}

.dez {
  background-color: var(--azul);
}

.doze {
  background-color: var(--amarelo);
}

.catorze {
  background-color: var(--coral);
}

.dezesseis {
  background-color: var(--vermelho);
}